
/*file imports*/
@import url("sections/header.css");
@import url("sections/card.css");
@import url("sections/about-us.css");
@import url("sections/subscribe.css");
@import url(sections/footer.css);


/**Colors for reusability**/
:root{
    --primary-color:#000000;
    --secondary-color:#CBDEEC;
    --backdrop-color:#F8F8F8;
    --underline-color:#060606;
    --hover-color:#0377fc;
    --shadow-color:#9747FF;

}