.footer-container{
   background-color:#FFF;
    display:flex;
    justify-content: space-between;
    
}



.footer-links,.footer-links-icons{
    list-style:none;
}

.footer-links li,.footer-links-icons li{
    display:inline-block; 
     

}

.footer-links li a{
    text-decoration:none;
    font-family:Inter;
    font-size:16px;
    font-style:normal;
    font-weight:300;
    line-height:normal;
    color:var(--primary-color);
    margin-right:80px;
}
.footer-links li a:hover{
    text-decoration:underline;
    text-decoration-color: var(--hover-color);
}



.footer-links button{
    border:1px solid #000;
    width:169px;
    height:39px;
    padding:10px 40px;
    text-align:center;
    font-family:Inter;
    font-size:16px;
    font-weight:300;
    line-height: normal;
}

.footer-links button:hover{
    background-color: var(--secondary-color);
    border:none;
    cursor:pointer;
}

.footer-links-icons li a{
    color:#FFF;
}

.fa-twitter{
    font-size: 36px;
}

.fa-linkedin{
    font-size:31px;
}

.fa-pinterest-p{
    font-size:40px;
}

.footer-links-icons  li{
    width:61px;
    height:61px;
    text-align:center;
    margin:0 32px;
    background-color: var(--secondary-color);
    /**fill: var(--secondary-color, linear-gradient(0deg, #CBDEEC 0%, #CBDEEC 100%), #D9D9D9);**/
    border-radius: 100%;
}

.footer-links-icons li a i{
    line-height: 60px;
}







