body{
    /*width of 1512 creates a scroller, to be added*/
    
    height:3200px;
    background-color: red;
}
/*The first section*/
.container{
    background:url(../../assets/hero.jpg),lightgray 50% / cover no-repeat;
    background-size:cover;
    background-repeat:no-repeat;
    height:932px;
    flex-shrink: 0;
}

/*Start of the header*/
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0px 40px;
}

header h4{
    font-style:normal;
    font-size:32px;
    font-family:Inter;
    font-weight:500;
    line-height:normal;
}

header h4:hover{
    cursor:pointer;
    text-decoration: underline;
    text-decoration-color: var(--hover-color);
}

header span{
    color:var(--secondary-color);
}

header button{
    border:2px solid #000;
    padding:12px 16px;
    justify-content: center;
    font-size:16px;
    font-weight:300;
    line-height:normal;
    background:transparent;
}

header button:hover{
    cursor:pointer;
    border: 2px solid var(--shadow-color);
}

.nav__links{
    list-style:none;
}

.nav__links li{
    display:inline-block;
    padding:0px 73px;
}

.nav__links li a{
    text-decoration: none;
    font-size:16px;
    font-style: normal;
    color:var(--primary-color);
    font-family: Inter;
}

.nav__links li a:hover{
    text-decoration: underline;
    text-decoration-color: var(--hover-color);
}

/**Dronotics and era text with rectangle**/
.container-frame12{
    background-color: aqua;
    width:660px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-30%);
    align-items:center;
    justify-content: center;
    
}

.container-frame12 h1{
    font-family:Inter;
    font-size:112px;
    font-style:normal;
    font-weight:400;
    line-height:normal;
    text-align:center;
}

.container-frame12 p{
    font-family:Inter;
    font-size:32px;
    font-weight:300;
    line-height:normal;
    align-items: center;
    padding:0px 0px;
    text-align:center;
}

.container-frame12 .line{
    text-align:center;
}

.container-frame12 span{
    width:128px;
    height:7px;
    background-color: var(--underline-color);
    display:inline-block;
    text-align:center;
}
/*End of the header*/

/*Start of the card section*/

















